@model EmployeeViewModel

<head>
    <link rel="stylesheet" href="~/css/employees-partial-view.css">
</head>
<div class="user-information-section">
    <form id="employee-upsert-form">
        @Html.HiddenFor(m => m.Employee.Id)
        @Html.HiddenFor(m => m.Employee.EmployerId)
        <span class="border-label">Consumer Profile</span>
        <div class="general-container">
            <div class="general-container-inner">
                <div class="form-member">
                    <label for="Firstname">First Name:</label>
                    <input asp-for="Employee.FirstName" type="text" required defaultvalue="@Model.Employee.FirstName" />
                </div>
                <div class="form-member">
                    <label for="Lastname">Last Name:</label>
                    <input asp-for="Employee.LastName" type="text" required defaultvalue="@Model.Employee.LastName" />
                </div>
                <div class="form-member">
                    <label for="SSN">SSN:</label>
                    <input asp-for="Employee.SSN" type="text" required defaultvalue="@Model.Employee.SSN" oninput="setCustomValidity('')" />
                </div>
                <div class="form-member">
                    <label for="Phone">Phone:</label>
                    <input id="employee-phone" asp-for="Employee.PhoneNumber" type="text" required defaultvalue="@Model.Employee.PhoneNumber" oninput="setCustomValidity('')" />
                </div>
                <div class="form-member">
                    <label for="DateOfBirth">Date of Birth:</label>
                    <input asp-for="Employee.DateOfBirth" type="date" value="@Model.Employee.DateOfBirth.ToString("yyyy-MM-dd")" required />
                </div>
                <td class="align-left"></td>

                <div id="validate-phone" class="form-member text-danger validation-warning"></div>
            </div>
            <div class="general-container-inner">
                <div class="form-member">
                    <label for="Street">Street:</label>
                    <input asp-for="Employee.AddressStreet" type="text" required defaultvalue="@Model.Employee.AddressStreet" />
                </div>
                <div class="form-member">
                    <label for="City">City:</label>
                    <input asp-for="Employee.AddressCity" type="text" required defaultvalue="@Model.Employee.AddressCity" />
                </div>
                <div class="form-member">
                    <label for="State">State:</label>
                    <input asp-for="Employee.AddressState" type="text" required defaultvalue="@Model.Employee.AddressState" />
                </div>
                <div class="form-member">
                    <label for="ZipCode">Zip Code:</label>
                    <input id = "employee-zip" asp-for="Employee.AddressZip" type="text" required defaultvalue="@Model.Employee.AddressZip" oninput="setCustomValidity('')" />
                </div>
                <div id="validate-zip" class="form-member text-danger"></div>
            </div>
        </div>

        <span class="border-label-create-employee">Security</span>
        <div class="general-container">
            <div class="general-container-inner-second">
                <div class="form-member">
                    <label for="Username">User Name:</label>
                    <input asp-for="Employee.UserName" type="text" required defaultvalue="@Model.Employee.UserName" oninput="setCustomValidity('')" disabled="@(Model.Employee.Id != 0 ? "disabled" : null)" />
                </div>
                <div class="form-member">
                    <label for="Password">Password:</label>
                    <input asp-for="Employee.Password" type="password" required defaultvalue="@Model.Employee.Password" />
                </div>
            </div>
        </div>

        <div>
            <div id="employee-errors" class="text-danger"></div>
            <button id="submit-button" class="align-left custom-button" onclick="saveEmployeeData()" type="button">Submit</button>
            <button class="align-left custom-button secondary" onclick="showEmployees(@Model.Employee.EmployerId)" type="button">Cancel</button>
        </div>
    </form>
</div>

<div id="confirmModal" class="modal" onclick="closeModal('confirmModal')">
    <div class="modal-content" onclick="event.stopPropagation();">
        <span class="close" onclick="closeModal('confirmModal')">&times;</span>
        <p id="confirmModalText">User has been successfully saved</p>
        <div class="modal-buttons">
            <button onClick="closeModal('confirmModal')" class="btn btn-outline-primary">Ok</button>
        </div>
    </div>
</div>