@model UserManagementViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/employer-user.css">
</head>
<body>
    <div class="user-management">
        <div id="user-create-section"></div>
        <div class="employer-users-section">
            @if (Model.EmployerUsers!.Count > 0)
            {
                <div class="scrollable-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model.EmployerUsers!)
                            {
                                <tr class="hoverable-row" data-userId="@user.Id" onclick="onEmployerUserRowClick(this)">
                                    <td>
                                        @Html.DisplayFor(modelItem => user.FirstName) @Html.DisplayFor(modelItem => user.LastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => user.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => user.EmailAddress)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            } else
            {
                <p>This employer has no users.</p>
            }
            <div class="action-buttons">
                <button class="custom-button primary" onclick="showCreateUserSection(@Model.EmployerId)">Add</button>
                <button class="btn btn-outline-primary" id="update-button" onclick="showUpdateUserSection(@Model.EmployerId)" hidden>Update</button>
            </div>
        </div>
        <button class="align-left custom-button" id="return-button" onclick="showEmployerAdministration(@Model.EmployerId)">Return</button>
        <p class="error-text text-align-left" id="employer-user-management-errors"></p>
    </div>
</body>
</html>