@using CSI.IBTA.Administrator.Constants
@using CSI.IBTA.Administrator.Extensions
@using CSI.IBTA.Shared.DataStructures
@using CSI.IBTA.Shared.DTOs
@model ClaimDetailsViewModel

<head>
    <link rel="stylesheet" href="~/css/claim-details.css">
</head>

<div class="space-between-container">
    <div class="claim-number-container">
        <label for="claim-number">Claim Number:</label>
        <span id="claim-number">
            @Model.Claim.ClaimNumber
        </span>
    </div>
    <button onclick="showClaims()" class="btn btn-primary">Return to list</button>
</div>

<span class="border-label">Detail</span>
<div class="details-container">
    <div class="claim-details">
        <label for="consumer">Consumer:</label>
        <span id="consumer">
            @($"{Model.Consumer.FirstName} {Model.Consumer.LastName}")
        </span>
    </div>
    <div class="claim-details">
        <label for="consumer">Phone Number:</label>
        <span id="phoneNumber">
            @Model.Consumer.PhoneNumber
        </span>
    </div>
    <div class="claim-details">
        <label for="dateOfService">Date of Service:</label>
        <span id="dateOfService">
            @Model.Claim.DateOfService.ToAmericanDateFormat()
        </span>
    </div>
    <div class="claim-details">
        <label for="plan">Plan:</label>
        <span id="plan">
            @($"{Model.Claim.PlanName} ({Model.Claim.PlanTypeName})")
        </span>
    </div>
    <div class="claim-details">
        <label for="status">Status:</label>
        <span id="status">
            @Model.Claim.Status.ToString()
        </span>
    </div>
    <div class="claim-details">
        <label for="amount">Amount, $:</label>
        <span id="amount">
            @Model.Claim.Amount
        </span>
    </div>
</div>