@model EditClaimViewModel

<form asp-controller="InsurancePlans" asp-action="CreateClaim" method="post" id="claim-edit-form">
    <table class="table">
        @Html.HiddenFor(m => m.ClaimId)
        @Html.HiddenFor(m => m.ClaimNumber)

        @Html.HiddenFor(m => m.Plan.Id)
        @Html.HiddenFor(m => m.Plan.Name)
        @Html.HiddenFor(m => m.AvailablePlans)
        <tbody>
            <tr>
                <td class="text-align-right">Claim Number: </td>
                <td class="align-left">@Model.ClaimNumber</td>
            </tr>
            <tr><td colspan="2"><legend>Details</legend></td></tr>
            <tr>
                <td class="text-align-right">Consumer: </td>
                <td class="align-left">@Model.Employee.FirstName @Model.Employee.LastName</td>
            </tr>
            <tr>
                <td class="text-align-right">Phone: </td>
                <td class="align-left">@Model.Employee.PhoneNumber</td>
            </tr>
            <tr>
                <td class="text-align-right">Date of Service:* </td>
                <td class="align-left"><input asp-for="DateOfService" type="date" value="@Model.DateOfService.ToString("yyyy-MM-dd")" required /></td>
            </tr>
            <tr>
                <td class="text-align-right">Plan:* </td>
                <td>
                    <select asp-for="PlanId" selected="@Model.PlanId">
                        @for (int i = 0; i < Model.AvailablePlans.Count; i++)
                        {
                            <option value="@Model.AvailablePlans[i].Id">@Model.AvailablePlans[i].Name</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td class="text-align-right">Amount:* </td>
                <td class="align-left"><input asp-for="Amount" type="number" step=".01" required min="1" /></td>
            </tr>
            <tr>
            </tr>
            @if (!ViewData.ModelState.IsValid)
            {
                <tr>
                    <td></td>
                    <td>
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </td>
                </tr>
            }

            <tr>
                <td></td>
                <td><button class="align-left custom-button" onclick="saveClaimData()" type="button">Save</button></td>
            </tr>
        </tbody>
    </table>
</form>