@using CSI.IBTA.Shared.DataStructures
@using CSI.IBTA.Shared.Entities
@using CSI.IBTA.Shared.DTOs
@using CSI.IBTA.Administrator.Constants
@model PaginatedList<EmployerDto>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}


<div id="table-employer" class="container">
    <div class="row">
        <div class="col-sm-8">
        </div>
        <div class="col-sm-4">
            <button class="btn btn-primary" onclick="showEmployerCreateForm()">Add New Employer</button>
        </div>
    </div>

    <span class="border-label" style="text-align:left">Search Criteria</span>
    <div class="row form-columns">
        <form asp-action="Employers" method="get" id="employer-search-form">
            <div class="form-actions no-color">
                <p>
                    <label for="NameFilter">Employer Name:</label>
                    <input type="text" name="NameFilter" value="@ViewData["CurrentNameFilter"]" />
                    <label for="CodeFilter">Employer Code:</label>
                    <input type="text" name="CodeFilter" value="@ViewData["CurrentCodeFilter"]" />
                    <input type="button" onclick="searchEmployers()" value="Search" class="btn btn-primary" />
                    <input type="button" onclick="searchAllEmployers()" class="btn btn-primary" value="Back to Full List">
                </p>
            </div>
        </form>
    </div>
    <br />
    <div class="row">
        <div class="table-data">
            <table class="table table-striped" id="employer-table">
                <thead>
                    <tr>
                        <th>Employer Name</th>
                        <th>Employer Code</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a onclick="showEmployerDetails(@item.Id, '@item.EncodedLogo')" class="highlight-on-hover"> @Html.DisplayFor(modelItem => item.Name) - @Html.DisplayFor(modelItem => item.Code)</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Code)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div style="text-align:right" class="pages">
                <a onclick="getEmployersPage('', @(Model.PageIndex - 1), '@ViewData["CurrentNameFilter"]', '@ViewData["CurrentCodeFilter"]')"
                   class="btn btn-default @prevDisabled">
                    Previous
                </a>
                @{
                    var nextPages = Math.Max(PaginationConstants.PagesToShow, Model.PageIndex + PaginationConstants.NextPages);
                    var lastPage = Math.Min(nextPages, Model.TotalPages);
                    var firstPage = Math.Max(1, lastPage - (PaginationConstants.NextPages + PaginationConstants.PrevPages));
                    for (int i = firstPage; i <= lastPage; i++)
                    {
                        if (i == Model.PageIndex || Model.PageIndex == 0)
                        {
                            <span style="color:var(--secondary-blue);">@Model.PageIndex</span>
                        }
                        else
                        {
                            <a onclick="getEmployersPage('', @(i), '@ViewData["CurrentNameFilter"]', '@ViewData["CurrentCodeFilter"]')"
                               class="btn btn-default">
                                @i
                            </a>
                        }
                    }
                }
                <a onclick="getEmployersPage('', @(Model.PageIndex + 1), '@ViewData["CurrentNameFilter"]', '@ViewData["CurrentCodeFilter"]')"
                   class="btn btn-default @nextDisabled">
                    Next
                </a>
                <div class="test">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="control-employer" />
