@model EmployerSettingsViewModel

<form asp-controller="Employer" asp-action="AllSettings" method="post" id="employer-settings-form">
    <table class="table">
        @Html.HiddenFor(m => m.EmployerId)
        <thead>
        <tr>
            <th>
                Condition
            </th>
            <th>
                State
            </th>
        </tr>
        </thead>
        <tbody>
            @for(int i = 0; i < @Model.EmployerSettings.Count; i++)
            {
                @Html.HiddenFor(m => m.EmployerSettings[i].Condition)
                <tr>
                    @{
                        var item = Model.EmployerSettings[i];
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Condition)
                    </td>
                    <td>
                        @{
                            var firstEnabled = item.State ? "Checked" : "";
                            var secondEnabled = !item.State ? "Checked" : "";
                        }
                            @Html.RadioButtonFor(m => m.EmployerSettings[i].State, true)
                            @Html.RadioButtonFor(m => m.EmployerSettings[i].State, false)
                    </td>
                </tr>
            }

        @if (!ViewData.ModelState.IsValid)
        {
            <tr>
                <td></td>
                <td>
                    <div asp-validation-summary="All" class="text-danger"></div>
                </td>
            </tr>
        }
        <tr>
            <td><button class="align-left custom-button" onclick="saveSettings(@Model.EmployerId)" type="button">Submit</button></td>
        </tr>
        </tbody>
    </table>
</form>