@model InsurancePackagePlanViewModel

<form asp-controller="Benefits" asp-action="@Model.ActionName" method="post" id="package-plan-create-form">
    <table class="table">
        @Html.HiddenFor(m => m.PlanId)
        @Html.HiddenFor(m => m.ActionName)
        @Html.HiddenFor(m => m.PackageId)
        @Html.HiddenFor(m => m.EmployerId)
        @Html.HiddenFor(m => m.AvailablePlanTypes)
        <tbody>
            <tr><td colspan="2"><legend>General</legend></td></tr>

            <tr>
                <td class="text-align-right">Name:* </td>
                <td class="align-left"><input asp-for="Name" type="text" required /></td>
            </tr>
            <tr>
                <td class="text-align-right">Type:* </td>
                <td>
                    <select asp-for="PlanTypeId">
                        @for (int i = 0; i < Model.AvailablePlanTypes.Count; i++)
                        {
                            <option value="@Model.AvailablePlanTypes[i].Id">@Model.AvailablePlanTypes[i].Name</option>
                        }
                    </select>
                </td>
            </tr>

            <tr><td colspan="2"><legend>Contributions</legend></td></tr>
            <tr>
                <td class="text-align-right">Contribution:* </td>
                <td class="align-left"><input asp-for="Contribution" type="number" step=".01" required /></td>
            </tr>
        @if (!ViewData.ModelState.IsValid)
        {
            <tr>
                <td></td>
                <td>
                    <div asp-validation-summary="All" class="text-danger"></div>
                </td>
            </tr>
        }

            <tr>
                <td></td>
                <td><button class="align-left custom-button" onclick="savePlanData()" type="button">Save</button></td>
            </tr>
        </tbody>
    </table>
</form>